.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $font-family;
  background-color: $background-menu;
  color: white;
  padding: 50px;
  max-width: 300px;

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all .5s;
    stroke: $white;

    &:hover {
      stroke: $background;  
    }
  }

  &__list {
    list-style-type: none;
    border-bottom: 1px solid $white;
    margin-bottom: 35px;
  }

  &__item {
    margin-bottom: 30px; 
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    transition: all .5s;
    
    &:hover {
      color: $background;  
    }
  }

  &__icons {
    position: relative;
    margin-top: 30px;
    margin-right: 10px;
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid $white;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s;
    color: $white;
    
    &:hover {
      color: $background;  
      border: 1px solid $background;
    }

    &--fb:after {
      content: "f";
      position: absolute;
      left: 50%;
      transform: translateX(-50%); 
    }

    &--tw:after {
      content: "t";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &--gl:after {
      content: "g";
      position: absolute;
      top: 35%;
      left: 50%;  
      transform: translate(-50%, -50%);
    }
  }
}