$xs: 576px;
$s: 768px;
$m: 992px;
$l: 1200px;
$xl: 1201px;

$fs: 10px;
$lh: 10px;

$background: lightgray;
$background-menu: #565d67;
$white: #ffffff;
$font-family: 'Titillium Web', 'Arial', sans-serif;

$modal-bg: #fff;
$font-size: 10px;