.tooltip {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  color: red;
  font-size: 10px;
  font-weight: bold;
  background-color: #f6f7f8;
  box-shadow: 3px -2px 5px 0px rgba(242,27,70,0.2);

  &:after {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 0;
    height: 0;
    border-top: 10px solid #f6f7f8;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;

  }
}