@import '../../Styles/main.scss';
.react-select {

  &__control {
    width: 200px;
    margin-right: 15px;
    font-size: 15px;
  }

  &__value-container {

  }

  &__indicators {

  }

  &__menu {
  }

  &__menu-list {
    font-size: 15px;
  }

  &__option {
  }
}
// @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
//  IE10+ CSS styles go here 


// @supports (-ms-ime-align: auto) {
// /* MS Edge CSS styles go here */
