.movies {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    margin-bottom: 15px;
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}