* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.number {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.number__item {
  margin-left: 15px; 
  font-weight: bold;
}

.number__item--red {
  color: red;
}

.number__item--green {
  color: green;
}

.number__item--btn {
  border: 1px solid #cf9f1f;
  border-radius: 5px;
  padding: 15px;
  outline: 0;
  background: transparent;
  transition: all .3s;
  font-size: 25px;
  min-width: 50px;
}

.number__item--btn:hover {
  background: lightgray;
}

.number__item--btn:active {
  transform: translateY(10px);
}

.number__item::last-child {
  margin-left: 0; 
}
