.btn {
  display: inline-block;
  min-width: 100px;
  margin-bottom: 10px;
  background-color: $btn-color;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: bold;
  color: $btn-text;
  transition: all .3s;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: transparent;
    border: 1px solid $btn-color-hover;
    color: $btn-text-hover;
  }

  &:active {
    transform: translateY(2px);
  }

  &--mt15 {
    margin-top: 15px;
  }
}