.js {

  &__input {
    &--error {
      border: 2px solid red;
    }
    &--success {
      border: 2px solid green;
    }  
  }
  

  &__text--error {
    font-style: italic;
    font-weight: bold;
    color: red;
  }

  @for $i from 0 through 2 {
    &__slider__inner--#{$i} {
      transform: translate($i * -100vw);  
    }
  }
}