.slider {
  padding: 60px 0 120px;
  background-color: #f7f7f7;
  overflow: hidden;
  font-size: $font-size;

  &__inner {
    width: 300vw;
    transition: transform 0.8s ease;
    font-size: 0px;
    transform: translate(1 * -100vw);
  }

  &__item {
    width: 100vw;
    display: inline-block;
    font-size: 10px;
  }

  &__name {
    color: red;
    font-style: italic;
  }

  &__title {
    font-size: $font-size * 1.5;
    margin-bottom: $font-size;
  }

  &__interface {
    display: flex;
    justify-content: center;

    &--column {
      flex-direction: column;
      align-items: center;
    }
  }

  &__form {
    font-size: $font-size;
    display: flex;
    flex-direction: column;
    align-items: space-around;

    &:first-child {
      margin-right: 15px;
    }
  }

  &__field {
    margin-bottom: 10px;
  }

  &__lbl {
    margin-bottom: 5px;
  }
}